# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode files
_pycache_/
*.pyc

# System files
.DS_Store
Thumbs.db

# Dataset files (optional)
*.csv

# Logs
*.log
